---
import { AiFillStar } from "solid-icons/ai";
---

<div class="block">
  <AiFillStar
    color="#F7A535"
    class="inline-block lg:text-lg xl:text-xl 2xl:text-2xl"
  />
  <AiFillStar
    color="#F7A535"
    class="ml-[-3px] inline-block lg:text-lg xl:text-xl 2xl:text-2xl"
  />
  <AiFillStar
    color="#F7A535"
    class="ml-[-3px] inline-block lg:text-lg xl:text-xl 2xl:text-2xl"
  />
  <AiFillStar
    color="#F7A535"
    class="ml-[-3px] inline-block lg:text-lg xl:text-xl 2xl:text-2xl"
  />
  <AiFillStar
    color="#F7A535"
    class="ml-[-3px] inline-block lg:text-lg xl:text-xl 2xl:text-2xl"
  />
</div>
