---
---

<div
  class="flex w-full justify-center bg-[#19271F] text-center font-body text-emerald-200"
>
  <div
    class="flex w-[90%] flex-col items-center justify-center gap-5 pb-7 pt-5 sm:flex-row sm:justify-evenly"
  >
    <img
      src="/public/logo.png"
      alt="Logo de la Asociacion de Amigos de Retiro"
      class="h-20 sm:order-1 sm:pb-2"
    />
    <img
      src="/public/ayuntamiento-logo.png"
      alt="Logo del Ayuntamiento de Madrid"
      class="h-16 sm:order-3"
    />
    <!-- <div class=""> -->
    <!--   <h3 class="text-2xl font-display font-extrabold pb-2">Contacto:</h3> -->
    <!--   <p>Retiro, P.º de Cuba, 6, 28009 Madrid</p> -->
    <!--   <p>pedropasameelcorreo@gmail.com</p> -->
    <!--   <p>+34 1234567890</p> -->
    <!-- </div> -->
    <p class="sm:order-2">
      © Copyright 2023, Asociacion de Amigos del Retiro “La Cabaña”
    </p>
  </div>
</div>
